@font-face {
    font-family: 'Futura LT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Futura LT Regular'), url('../fonts/FuturaLT.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT Book';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Futura LT Book'), url('../fonts/FuturaLT-Book.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Futura LT Oblique'), url('../fonts/FuturaLT-Oblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT BookOblique';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Futura LT BookOblique'), url('../fonts/FuturaLT-BookOblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT Light';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Futura LT Light'), url('../fonts/FuturaLT-Light.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT CondensedLight';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Futura LT CondensedLight'), url('../fonts/FuturaLT-CondensedLight.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT LightOblique';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Futura LT LightOblique'), url('../fonts/FuturaLT-LightOblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT CondensedLightObl';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Futura LT CondensedLightObl'), url('../fonts/FuturaLT-CondensedLightObl.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Futura LT Condensed'), url('../fonts/FuturaLT-Condensed.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT CondensedOblique';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Futura LT CondensedOblique'), url('../fonts/FuturaLT-CondensedOblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Futura LT ExtraBold'), url('../fonts/FuturaLT-ExtraBold.woff') format('woff');
}
