.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
  .caption {            
    z-index: 1;
    .caption-content {
      color: $black;      
      h2 {
        font-size: 0.8rem;
        text-transform: uppercase;
      }
      p {
        font-weight: 300;
        font-size: 1.2rem;
      }
    }
  }
  @media(min-width: 992px) {
    max-width: none;
    margin: 0;
    .caption {
      
      .caption-content {
        transition: opacity 0.25s;              
      }

    }
    img {
      
    }
    &:hover {
      img {
        
      }
      .caption {
              
      }
    }
  }

  &:hover {    
      text-decoration: none !important;    
  }
}

.modal-header {
  border-bottom: none;
}

.modal-header .close {  
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  color: white;
  text-shadow: 0 1px 0 #000;  
}

.modal-open .modal {
  padding-right: 0px !important;
}

.modal-dialog {
  margin: 0;
  max-width: none;
  background-color: rgba(13,33,48,1) !important;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

.modal-backdrop {
  background-color: rgba(13,33,48,1) !important;
}

.modal-content {    
  background-color: transparent;
  background-clip: initial;
  border: none;
  border-radius: 0;
  color: white;
}

.carousel-inner {
  width: 80%;  
  margin: auto;
  margin-bottom: 50px;
}

.carousel-control-next, .carousel-control-prev {
  width: 10%;
  font-size: 1.5rem;
}

.carousel-indicators {
  bottom: -50px;
}