#referenzen {
  padding-top: 7rem;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
  .caption {            
    z-index: 1;
    .caption-content {
      color: $black;    
      padding: 15px 0;  
      h2 {
        font-size: 22px;
        font-weight: 900;      
        margin-bottom: 0; 
      }
      p {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
  @media(min-width: 992px) {
    max-width: none;
    margin: 0;
    .caption {
      
      .caption-content {
        transition: opacity 0.25s;              
      }

    }
    img {
      
    }
    &:hover {
      img {
        
      }
      .caption {
              
      }
    }
  }

  &:hover {    
      text-decoration: none !important;    
  }
}

.modal-header {
  border-bottom: none;
}

.modal-header .close {  
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  color: white;
  text-shadow: 0 1px 0 #000;  
}

.modal-open .modal {
  padding-right: 0px !important;
  background-color: rgba(13,33,48,1) !important;
}

.modal-dialog {
  margin: 0;
  max-width: none;
  background-color: rgba(13,33,48,1) !important;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}

.modal-backdrop {
  background-color: rgba(13,33,48,1) !important;
}

.modal-content {    
  background-color: #0d2130 !important;
  background-clip: initial;
  border: none;
  border-radius: 0;
  color: white;
  height: 100%;
}

.carousel-inner {
  width: 80%;  
  margin: auto;
  margin-bottom: 50px;
}

.carousel-control-next, .carousel-control-prev {
  width: 10%;
  font-size: 1.5rem;
}

.carousel-indicators {
  bottom: -50px;
}

.modal-body .description {
  h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
  }

  p{
    font-size: 16px;
    font-weight: 100;
  }

  hr {
    margin: 1rem 0;
    border: 3px solid rgba(255, 255, 255, 0.5);
    width: 50px;        
  }
}

.webcam {
    height: 100px;
    width: 100px;
    background-color: #E8E100;
    display: block;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: -30px;
    text-align: center;
    padding-top: 36px;
    box-shadow: 0 0 10px rgba(10,10,10,0.2);
    
    span {
        -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
        transform: rotate(12deg);
        display: block;
        text-decoration: underline;
        color: #343436;
    }
}


