.service-icon {        
    background-color: $white;
    color: $primary;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    border: 5px solid black;
    padding: 28px;
    width: 200px;

    img {
        width: 100%;
    }
}
