#kompetenzen {
    padding-bottom: 1rem;

    a, a:hover {
        text-decoration: none;
        color: black;
    }

    h4 {
        font-size: 18px;
        font-weight: 400;
        font-family: Abel;  
        text-align: center;      
    }

    .description {
        margin-top: 30px;
    }

    .description h4 {
        font-size: 1rem;        
    }

    p {
        font-weight: 300;
        font-size: 14px;
    }    

    .service-icon + h4 {
        font-size: 1.2rem;    
        transition: all 0.2s;    
    }

    .collapsed .service-icon + h4 {
        font-size: 1rem;
        margin-bottom: 12px;
    }

    .service-icon + h4 + .underline {        
        border-bottom: 10px solid #f9d56e;
        width: 100px;
        display: inline-block;
        transition: all 0.2s;
    }

    .collapsed .service-icon  + h4 + .underline {
        width: 0;
    }
            
    
    .service-icon.modellierung {
        background-image: url(../img/modellierung.png);
    }       
    
    .service-icon.research {
        background-image: url(../img/management.png);
    }           
    
    .service-icon.innovation {
        background-image: url(../img/innovation.png);
    }    

    .accordion {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    @media screen and (min-width: 768px) {        
        .accordion .description {
            width: 300%;
        }

        #collapseTwo {
            margin-left: -100%;            
        }

        #collapseThree { 
            margin-left: -200%;            
        }
    }
}

@-webkit-keyframes pulse {
 0% {
  -webkit-transform:scale(1)
 }
 50% {
  -webkit-transform:scale(0.85);
  opacity:1
 }
 100% {
  -webkit-transform:scale(1)
 }
}
@keyframes pulse {
 0% {
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1)
 }
 50% {
  -webkit-transform:scale(0.85);
  -ms-transform:scale(0.85);
  transform:scale(0.85);
  opacity:1
 }
 100% {
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1)
 }
}


.service-icon {
    background-color: transparent;
    color: black;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    width: 100px;
    background-size: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    -o-transition: transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;

    img {
        width: 100%;
    }                        
}


.collapsed .service-icon {
    &:hover {
        -webkit-animation: pulse 0.3s ease-in-out;
        animation: pulse 0.3s ease-in-out;
    }
}

